:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgb(21, 21, 21);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  border: 1px solid rgb(21, 21, 21);
  width: 900px;
  height: 75px;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 20px;
}

main {
  margin: 20px auto;
  width: 900px;
  height: 350px;
  border: 1px solid rgb(21, 21, 21);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

main div {
  height: 100%;
  width: 200px;
  border-radius: 10px;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.scan-active {
  background-color: rgb(74, 222, 128);
}

.scan-inactive {
  background-color: rgb(248 113 113);
}

main div img {
  width: 140px;
  height: 140px;
}

main div h4 {
  color: rgb(21, 21, 21);
}

.download-btn {
  align-self: start;
}

button {
  height: 40px;
  padding: 0 15px;
  border-radius: 7px;
  border: none;
  letter-spacing: 0.5px;
}

.btn-active {
  background-color: rgb(74, 222, 128);
}

.btn-inactive {
  background-color: rgb(209, 213, 219);
}

.loader {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 9998;
}

.loader::after {
  content: "";
  width: 50px;
  height: 50px;
  border: 8px solid #dddddd;
  border-top-color: rgb(74, 222, 128);

  border-radius: 50%;
  animation: loading 0.95s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.hidden {
  display: none;
}
